.imageBtn-left {
    /* position: absolute;
    top: 100%;
    margin-left: -6px; */
    /* transform: translate(12%, -5%); */
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #555;
    color: white;
    /* font-size: 16px; */
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.imageBtn-right {
    /* position: absolute;
    top: 104%;
    margin-left: -29px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.mySlides {
    width: 350px;
    height: 300px;
}

.productDetails img {
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: 0px;
}

.productDetails1 img {
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 0px;
}

.productDetails img:hover {
    opacity: .5;
    cursor: pointer
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}


/* carousal css */

.es-carousel-wrapper {
    background: #101010;
    padding: 10px 27px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    position: relative;
    margin-bottom: 20px;
}

.es-carousel {
    overflow: hidden;
    background: #000;
}

.es-carousel ul {
    display: none;
}

.es-carousel ul li {
    height: 100%;
    float: left;
    display: block;
}

.es-carousel ul li a {
    display: block;
    border-style: solid;
    border-color: #222;
    opacity: 0.8;
    -webkit-touch-callout: none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.es-carousel ul li.selected a {
    border-color: #fff;
    opacity: 1.0;
}

.es-carousel ul li a img {
    display: block;
    border: none;
    max-height: 100%;
    max-width: 100%;
}